.bckg-color{
    background-color: #343a3f;
}

.navbar-font-size{
    font-size: 25px;
}

.navbar {
    margin: 0;
    border-radius: 0;
}

.navbar-text{
    font-weight: bold;
}

.font-style{
    font-family: 'Indie Flower';
}

.logo-size {
    width: 100px;
    height: 30px;
    position: relative;
    top: -5px;
}

.normal-text-style{
    font-family: 'Indie Flower';
    color: white;
}

.major-list-el-text-size{
    font-size: 25px;
}

.list-subelements-text-size{
    font-size: 22px;
}

.bold-text{
    font-weight: bold;
}

.p-text-style{
    padding-left: 30px
}