.about-bckg-image{
    background-image: url("../../images/bckg.JPG");
    background-size: 1366px 654px;
}

.logo-size {
    width: 100px;
    height: 30px;
    position: relative;
    top: -5px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.dropdown-custom-colors{
    background-color: #333333;
    color: white;
}

ul > li > ul > li > a.url-colors{
        color: white;
}

.button-position {
    position:relative;
    transition: .5s ease;
    top: 50%;
    right: 50%;
}

.projects-info{
    color: black;
}

.projects-info-style:hover{
    text-decoration: underline;
    color: black;
}

.project-images-size{
    width: 375px;
    height: 450px;
    padding-left: 40px;
}

.project-button-pos{
    position:relative;
    left: 38%;
}

.image-size{
    width: 325px;
    height: 450px;
    padding-left: 10px;
}

.about-info-width{
    width: 325px;
}

.about-info-underline:hover{
    text-decoration: underline;
}

.button-size {
    width: 140px;
    height: 40px;
}

.hidden{
    display: none;
}

.carousel-inner > .item > img {
    width: 85%; 
    height: 100%;
    margin: auto;
}

@media (max-width: 600px) {
    .carousel-inner{
        display: none;
    }
}