.bckg-image{
    background-image: url("../../images/bckg.JPG");
    background-size: 1366px 654px;
}

.logo-size {
    width: 100px;
    height: 30px;
    position: relative;
    top: -5px;
}

.home-page-text-pos{
    position:relative;
    top: 50%;
    right: 50%;
}

.black-text{
    color: black;
}

.network-engineering-text-pos{
    position: absolute;;
    top: -130px;
    right: 750px;
    width: 200px;
}

.font-style{
    font-family: 'Indie Flower';
}

.navbar-font-size{
    font-size: 25px;
}

.contacts-bckg-color{
    background-color: #14146b;
}

.contacts-font-size{
    font-size: 20px;
}

.contacts-font-style{
    font-family: 'Indie Flower';
    color: yellow;
    font-weight: bold;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.navbar {
    margin: 0;
    border-radius: 0;
}

.navbar-text{
    font-weight: bold;
}

.button-position {
    position:relative;
    transition: .5s ease;
    top: 50%;
    right: 50%;
}

.projects-info{
    color: black;
}

.projects-info-style:hover{
    text-decoration: underline;
    color: black;
}

.project-images-size{
    border-radius: 90px 50px 50px 90px;
    width: 375px;
    height: 450px;
    padding-left: 40px;
}

.project-big-image-size{
    width:1349px; 
    padding-top: 10px
}

.projects-image-style{
    padding: 30px 0px 0px 50px;
}

.projects-button-style{
    margin-top: 10px;
    position:relative;
    left: 38%;
}

.image-size{
    border-radius: 50px 50px 50px 50px;
    width: 325px;
    height: 450px;
    padding-left: 10px;
}

.about-text-style{
    font-family: 'Indie Flower';
    font-weight: bolder;
    font-size: 25px;
    color: black; 
    font-weight: bold; 
    text-align: center;
}

.contacts-info-width{
    width: 400px;
}

.contacts-info-underline:hover{
    text-decoration: underline;
}

.contacts-info-style{
    padding-left: 55px;
}

.button-size {
    width: 140px;
    height: 40px;
}

.hidden{
    display: none;
}

.carousel-inner > .item > img {
    width: 85%; 
    height: 100%;
    margin: auto;
}

@media (max-width: 600px) {
    .carousel-inner{
        display: none;
    }
}